# -------------------------
# IDE
# -------------------------
.idea/
*.iml
.settings
.project
.classpath
# -------------------------
# Maven
# -------------------------
target/
dependency-reduced-pom.xml
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar
pom.xml.versionsBackup
# -------------------------
# OSX
# -------------------------
.DS_Store
# -------------------------
# AS
# -------------------------
_jboss/
_tmp/
# -------------------------
# No process pngs
# -------------------------
extension/**.png
# Camunda
camunda-license.txt
